.menu{
	width: 800px;
	height: 420px;
	background: grey;
	margin: auto;
	margin-top: 210px;
    border:hidden 5px #000000;
    border-radius: 10px;
    -moz-box-shadow: 2px -1px 8px #000000;
    -webkit-box-shadow: 2px -1px 8px #000000;
    box-shadow: 2px -1px 8px #000000;
}

.user-box{

	width: 770px;
	height: 80px;
	background: white;
	margin-right: 10px;
	margin-left: 15px;
	margin-top: : 15px;
	margin-bottom: 15px;
	box-shadow: 2px -1px 8px #000000;
    border:hidden 5px #000000;
    border-radius: 11px;
}

.costumer-name-box{
	width: 200px;
	height: 50px;
	background:grey;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
	margin-right: 12px;
	margin-left: 558px;
	box-shadow: 2px -1px 8px #000000;
    border:groove 8px #0f0c0f;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border-radius: 17px;





}

.costumer-name-box a{ 
	font-size: 20;
	color: black;
	float: center;
	margin-top: 25px;

}
.ghost{
	width: 0px;
	height:27.5px;
}
